.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    margin: 20px 0;
    justify-content: center;
}

.products .card{
    margin: 10px auto;
}

.products .card-img-top{
    height: 250px;
    width: 100%;

}

.products .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.products .card-text{
    height: 60px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}



/*detail product*/
.detail_page .img-thumbnail.active{
border-color: palevioletred;
padding: 2px;
}